In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("../data/Zomato_Kolkata.csv")

In [3]:
df

,name,voteCount,rating,address,cusine,cost,timing
0,Peter Cat,12404 votes,4.2,"18A, Park Street, Park Street Area, Kolkata","North Indian, Continental","₹1,000",11am – 11:20pm (Mon-Sun)
1,Naturals Ice Cream,2498 votes,4.9,"77/1/A, Ground Floor, Near West Bengal Board, ...","North Indian, Continental",₹200,11am – 12midnight (Mon-Sun)
2,Carpe Diem,4083 votes,4.4,"18M, Park Street Area, Kolkata",Ice Cream,"₹1,000","12noon – 12midnight (Mon, Tue, Wed, Thu, Fri..."
3,Barbeque Nation,5455 votes,4.6,"1st Floor, 24, Park Center Building, Park Stre...",Ice Cream,"₹1,800","12noon – 3:30pm, 6:30pm – 10:45pm (Mon-Sun)"
4,Flurys,4709 votes,4.2,"15, Apeejay House, Park Street Area, Kolkata","Chinese, North Indian, Continental",₹400,7:30am – 11pm (Mon-Sun)
...,...,...,...,...,...,...,...
7383,WOW! ARBA,Cuisines:,NEW,Delivery Only,"Chinese, Fast Food",₹150,11am – 11pm (Mon-Sun)
7384,Renu's,50 votes,2.8,"89/109, Vivekananda Road, Bangur Park, Hooghly...",Bengali,₹350,11am – 11pm (Mon-Sun)
7385,The Food Place,Cuisines:,-,"119, Ramkrishna Road, Radhashree, Landmark- Ai...",Bengali,₹150,8am – 11:45pm (Mon-Sun)
7386,New Dalma Restaurant,Cuisines:,-,Delivery Only,Chinese,₹250,12noon – 10:30pm (Mon-Sun)
7387,Baanerjee Cabin,Cuisines:,NEW,"89, Nripen Sarkar Road, Sahapukur, Sreedurga C...",Chinese,₹200,10am – 11pm (Mon-Sun)

In [4]:
df["cost"] = df["cost"].str.replace(',','')
df["cost"] = df["cost"].str.replace('₹','')
df["cost"] = df["cost"].astype("float")
df

,name,voteCount,rating,address,cusine,cost,timing
0,Peter Cat,12404 votes,4.2,"18A, Park Street, Park Street Area, Kolkata","North Indian, Continental",1000.0,11am – 11:20pm (Mon-Sun)
1,Naturals Ice Cream,2498 votes,4.9,"77/1/A, Ground Floor, Near West Bengal Board, ...","North Indian, Continental",200.0,11am – 12midnight (Mon-Sun)
2,Carpe Diem,4083 votes,4.4,"18M, Park Street Area, Kolkata",Ice Cream,1000.0,"12noon – 12midnight (Mon, Tue, Wed, Thu, Fri..."
3,Barbeque Nation,5455 votes,4.6,"1st Floor, 24, Park Center Building, Park Stre...",Ice Cream,1800.0,"12noon – 3:30pm, 6:30pm – 10:45pm (Mon-Sun)"
4,Flurys,4709 votes,4.2,"15, Apeejay House, Park Street Area, Kolkata","Chinese, North Indian, Continental",400.0,7:30am – 11pm (Mon-Sun)
...,...,...,...,...,...,...,...
7383,WOW! ARBA,Cuisines:,NEW,Delivery Only,"Chinese, Fast Food",150.0,11am – 11pm (Mon-Sun)
7384,Renu's,50 votes,2.8,"89/109, Vivekananda Road, Bangur Park, Hooghly...",Bengali,350.0,11am – 11pm (Mon-Sun)
7385,The Food Place,Cuisines:,-,"119, Ramkrishna Road, Radhashree, Landmark- Ai...",Bengali,150.0,8am – 11:45pm (Mon-Sun)
7386,New Dalma Restaurant,Cuisines:,-,Delivery Only,Chinese,250.0,12noon – 10:30pm (Mon-Sun)
7387,Baanerjee Cabin,Cuisines:,NEW,"89, Nripen Sarkar Road, Sahapukur, Sreedurga C...",Chinese,200.0,10am – 11pm (Mon-Sun)

In [5]:
df = df.loc[~df["rating"].isin(["NEW", "-", np.nan])]
df["rating"] = df["rating"].astype("float")
df.shape

/var/folders/gk/1_hpxk0x6bvfh9xs2r_splw40000gn/T/ipykernel_5828/1172533626.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["rating"] = df["rating"].astype("float")

(5199, 7)

In [6]:
df = df.loc[~df["voteCount"].isin(["Cuisines:",np.nan])]
df.shape

(5193, 7)

In [7]:
df["voteCount"] = df["voteCount"].str.replace('votes','')
df["voteCount"] = df["voteCount"].astype("int")
df.head()

,name,voteCount,rating,address,cusine,cost,timing
0,Peter Cat,12404,4.2,"18A, Park Street, Park Street Area, Kolkata","North Indian, Continental",1000.0,11am – 11:20pm (Mon-Sun)
1,Naturals Ice Cream,2498,4.9,"77/1/A, Ground Floor, Near West Bengal Board, ...","North Indian, Continental",200.0,11am – 12midnight (Mon-Sun)
2,Carpe Diem,4083,4.4,"18M, Park Street Area, Kolkata",Ice Cream,1000.0,"12noon – 12midnight (Mon, Tue, Wed, Thu, Fri..."
3,Barbeque Nation,5455,4.6,"1st Floor, 24, Park Center Building, Park Stre...",Ice Cream,1800.0,"12noon – 3:30pm, 6:30pm – 10:45pm (Mon-Sun)"
4,Flurys,4709,4.2,"15, Apeejay House, Park Street Area, Kolkata","Chinese, North Indian, Continental",400.0,7:30am – 11pm (Mon-Sun)

In [8]:
df.shape

(5193, 7)

In [9]:
df.isna().sum()

name          0
voteCount     0
rating        0
address       1
cusine        0
cost          0
timing       16
dtype: int64

In [10]:
df.fillna("unknown", inplace=True)

In [11]:
df.shape

(5193, 7)

In [12]:
df.isna().sum()

name         0
voteCount    0
rating       0
address      0
cusine       0
cost         0
timing       0
dtype: int64

In [13]:
df.rename({"cusine":"cuisine"}, axis=1, inplace=True)

In [14]:
df["timing"].fillna("unknown", inplace=True)

In [15]:
df.dropna(inplace=True)

In [16]:
df.isna().sum()

name         0
voteCount    0
rating       0
address      0
cuisine      0
cost         0
timing       0
dtype: int64

In [17]:
df.to_csv("../data/Zomato_cleaned.csv", index = False)